.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 793.7007874px;
  margin: 10px 5px 5px 5px;
  padding: 0;
}
@media only screen and (min-device-width: 1150px) {
  .modal-content {
    width: max-content;
  }
}
.modal-content {
  padding: 0;
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.control-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.control-row-first {
  display: flex;
  height: 27px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #0f243e;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 11.0186px;
  line-height: 15px;
  color: #ffff;
}
.control-row-second {
  background-color: #16365d;
  height: 27px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 98%;
  margin: 10px;
  height: 100px;
}
.body {
  width: 100%;
  min-height: 793.7007874px;
  margin-bottom: 10% !important;
  overflow-y: hidden;
  padding: 2px 5px 0 10px;
}
.modal-footer {
  position: relative;
  bottom: 0;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-size: 11px !important;
  padding: 0 5px 0 10px;
}
.title-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
  align-items: center;
}
.details-card {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: space-between;
  align-items: flex-end;
  width: max-content;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  padding-right: 7px;
}
.close-icon {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 5px;
  color: white;
  cursor: pointer;
}
.close-icon:hover {
  background-color: red;
  color: white;
}
.log-container {
  width: 150px;
  height: 100px;
  margin-left: 10px;
}
.header-name,
.sub-header-name {
  background-color: #ccdcf0;
  min-width: 200px;
  display: flex;
  justify-content: center;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
}
.person-container,
.date-container,
.time-container {
  display: flex;
  justify-content: flex-end;
  background-color: #ccdcf0;
  padding: 2px;
  min-width: 150px;
}
.footer-left,
.footer-center,
.footer-right {
  display: flex;
  justify-content: center;
  background-color: #ccdcf0;
  padding: 2px;
  min-width: 150px;
}
