.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 793.7007874px;
}
@media only screen and (min-device-width: 1150px) {
  .modal-content {
    width: max-content;
  }
}
.modal-content {
  padding: 10px;
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.body {
  width: 100%;
  margin-bottom: 10% !important;
  overflow-y: hidden;
}
.modal-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 30px;
  font-size: 11px !important;
}
.title-card {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}
.details-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.close-icon {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 5px;
}
.close-icon:hover {
  background-color: red;
  color: white;
}
