body {
  margin: 0px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 200px;
  background-color: red;
}

.right {
  block-size: 100vh;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  background-color: forestgreen;
}

.conent {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.submenu {
  width: 100px;
  background-color: fuchsia;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.top {
  height: 200px;
  background-color: gold;
}

.middle {
  block-size: 100%;
  flex: 1;
  display: flex;
  min-height: 0;
  flex-direction: column;
  /* overflow: hidden; */
}

.bottom {
  height: 100px;
  background-color: indigo;
}

.rdg.fill-grid {
  /* block-size: 100%; */
  /* height: 300px; */
}
